@import "src/scss/base.scss"; 

.time-table__list {
    background-color: $orange;
    color: #fff;
    // padding: 10px;
}

.time-table__item {
    display: flex;
    @include small-phones {
        flex-direction: column;
    }
}

.time-table__route {
    font-weight: 500;
    padding: 10px;
    width: 120px;
    flex: 0 0 auto;
}

.time-table__time-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.time-table__time-item {
    width: 50px;
    font-size: 15px;
    background-color: rgba(#fff, 0);
    padding: 1px;
    &:hover {
        background-color: rgba(#fff, 0.1);
        cursor: pointer;
    }
}