@import "src/scss/base.scss"; 



.header__menu-list {
    display: flex;
    @include tablets {
        display: none;
    }

}

.header__menu-item {

    &:after {
        content: "•";
        color: #fff;
        margin-right: 10px;
        margin-left: 7px;
        
    }
    &:last-child {
        &:after {
            content: "";
            margin-right: 0px;
            margin-left: 0px;
        }
    }

    & a {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        transition: 300ms;
        &:hover {
            opacity: 0.8;
        }
    }

}


.active {
    // text-decoration: underline !important; 
    font-weight: 500 !important;
}