@import "src/scss/base.scss"; 


.table-cell {
    padding: 7px;
    border-right: rgba(#fff, 0.5) solid 1px;
  
    &_narrow {
        width: 50px;
    }

    & a {
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
}

