@import "src/scss/base.scss"; 

.auth {
    margin-bottom: 4vh;
}

.auth__login, .auth__restore-pass, .auth__register {
    display: flex;
    flex-direction: column;
}

.auth__login-form, .auth__restore-pass-form, .auth__register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.auth__forget {
    color: #fff;
    margin-bottom: 12px;
    text-decoration: underline;

}

.auth__wanna-register {
    margin-bottom: 7px;
    & button {
        color: #fff;
        text-decoration: underline;
    }
}


.auth__socials {
    display: flex;
    align-items: center;

}

.auth__socials span {
    margin-right: 10px;

}

.auth__socials-list {
    display: flex;

}

.auth__socials-item {
    margin-right: 10px;
    font-size: 20px;
    
}

.auth__socials-link {
    color: #fff;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    transition: 300ms;

}

.auth__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;

}

.auth__bottom-block {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & span {
        text-align: center;
    }
}

.auth__skip {
    font-weight: 500;
    margin-top: 15px;
    font-size: 16px;
    & a {
        color: #fff;
    }
    
}

.auth__back {
    margin-top: 5px;
    color: #fff;
    text-decoration: underline;
}
