@import "src/scss/base.scss"; 

.page-wrapper {
    background-color: $light-gray;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.slider-background {
    // background-image: url("img/main.jpg");
    background-size: cover;
    transition: 700ms;
    // height: calc(100vh - 60px);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include phones {
        background-position-x: 30%;
    }

    @include small-phones {
        background-position-x: 50%;
    }
}