@import "src/scss/base.scss"; 


.wrapper-wide_orange {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    background-color: $orange;
    
}