@import "src/scss/base.scss"; 


.table-cell {
    padding: 7px;
    border-right: rgba(#fff, 0.5) solid 1px;
  
    &_narrow {
        width: 50px;
    }
    
}


.table__header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header-controls {
    display: flex;
    align-items: center;
    button {
        color: #fff;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
}

.sort-btn {
    font-size: 14px;
}

.filter-btn {
    font-size: 12px;
    margin-right: -5px;
}

.close-btn {
    color: #fff;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
    font-size: 14px;
    margin-right: -3px;
}
