@import "src/scss/base.scss"; 


.wrapper-witn-slider {
    background-image: url("../../../img/main.jpg"); //не работает абс путь((
    background-size: cover;
    transition: 700ms;
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include phones {
        background-position-x: 30%;
    }

    @include small-phones {
        background-position-x: 50%;
    }
}