@import "src/scss/base.scss"; 

.wrapper-narrow {
    width: 1000px;
    max-width: 85vw;
    padding: 0px 20px;

    @include tablets {
        width: 90vw;
        max-width: initial;
    }

    @include small-phones {
        padding: 0px 15px;
    }
    
    &_white {
        background-color: #fff;
    }
}