@import "src/scss/base.scss"; 


.table__data-row {
    background-color: rgba($light-gray, 0.5);

    &:hover {
        background-color: rgba($light-gray, 1);
    }

    & td {
        &:first-child {
            font-weight: 500;
        }
    }
    
}
