@import "src/scss/base.scss"; 


.contacts {
    display: flex;
    margin: 15px 0px;
    @include tablets {
        text-align: center;
        flex-direction: column;
        margin-bottom: 10px;

    }
}

.contacts__company {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
    span {
        &:nth-child(1) {
            font-weight: 500;
        }
    }
            
    @include tablets {
        align-items: center;
        margin-right: 0px;
    }

}

.contacts__phone-email {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: #000;
        &:hover {
            text-decoration: underline;
        }

    }
    @include tablets {

        align-items: center;
    }
}

