@import "src/scss/base.scss"; 


.slider-menu {
    width: calc(100% + 40px);
    margin: 0 -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    
}

.slider-menu__slides{
    height: 45vh;
    min-height: 250px;
    width: 100%;
    background-color: $light-gray;

    
    
}
.each-fade {
    width: 100%;
    height: 45vh;
    min-height: 250px;
    background-size: cover;
    @include small-phones {
        background-position-x: -200px;
    }
    &_1 {
        background-image: url("./slides/slide_2.jpg");
    }
    &_2 {
        background-image: url("./slides/slide_1.jpg");
    }
    &_3 {
        background-image: url("./slides/slide_3.jpg");
    }
    &_4 {
        background-image: url("./slides/slide_4.jpg");
    }
    &_5 {
        background-image: url("./slides/slide_5.jpg");
    }
}



.slider-menu__menu {
    z-index: 100;
    width: 75%;
    margin-top: -50px;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2);
    margin-bottom: 20px;
    @include tablets {
        margin-top: -70px;
    }
    @include small-phones {
        margin-top: -100px;
    }
}

.slider-menu__form {
    background-color: $orange;
    width: 100%;
    margin-bottom: 1px;
    // color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

    @include phones {
        // flex-direction: column;
    }
    
    & button {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        margin-right: 15px;
        @include small-phones {
            margin-right: 0;
        }

    }
}


.slider-menu__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    @include phones {
        flex-direction: column;

    }

    & div {


        & input {
            // position: relative;
            height: 30px;
            width: 20vw;
            flex: 0 0 auto;
            border-radius: 5px;
            padding: 10px;
            margin: 0 20px;
            text-align: center;
            
            
            
            @include phones {
                width: 35vw;
                margin: 0 10px;
            }
        }


    }

    
    & i {
        z-index: 1;
        color: #fff;
        font-size: 18px;
        @include phones {
            transform: rotate(90deg);
            margin: 10px;
        }
    }
}


.slider-menu__buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.slider-menu__button {
    background-color: $dark-gray;
    transition: 300ms;
    width: 25%;
    flex: 0 0 auto;
    border-right: 1px solid #fff;
    padding: 10px;
    color: #fff;
    &:hover {
        background-color: $orange;
    }

    & a {
        color: #fff;
        text-decoration: none;
    }

    @include small-phones {
        width: 50%;
        border-bottom: 1px solid #fff;

    }

    &:nth-child(2) {

        @include small-phones {
            border-right: 0;
        }
    }
    &:nth-child(3) {

        @include small-phones {
            border-bottom: 0;
        }
    }
    &:nth-child(4) {
        border-right: 0;
        @include small-phones {
            border-right: 0;
            border-bottom: 0;
        }
    }
    
    
    

}

.slider-menu__button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    & i {
        font-size: 32px;
        margin-right: 15px;
        @include tablets {
            margin-right: 0px;
            margin-bottom: 5px;
        }
        @include small-phones {
            font-size: 25px;
            margin-right: 15px;
            margin-bottom: 0px;


        }
    }
    @include tablets {
        flex-direction: column;
    }
    @include small-phones {
        flex-direction: initial;
        justify-content: flex-start;
    }

}