@import "src/scss/base.scss"; 

.edit__top-buttons {
    width: 100%;
    
}

.edit__top-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    @include small-phones {
        font-size: 14px;
    }
    
}

.edit__top-button {
    color: #fff;
    background-color: rgba($blue, 0.8);
    border: #fff solid 1px; 
    padding: 4px;
    // border-radius: 6px;
    width: 100%;
    flex-grow: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    &:hover {
        background-color: rgba($blue, 1);
    }

}

//admin


