@import "src/scss/base.scss"; 

.stops__list {
    display: flex;
    flex-wrap: wrap;
    background-color: $orange;
    color: #fff;
    padding: 10px;
    
}

.stops__item {
    & span {
        font-weight: 500;
    }
    & a {
        transition: 300ms;
        margin-right: 20px;
        color: rgba(#fff, 1);
        text-decoration: none;
        &:hover {
            color: rgba(#fff, 0.7);
            text-decoration: underline;
        }
    }
    & i {
        margin-right: 20px;
        
    }
    &:last-child i {
        display: none;
    }
}