@import "src/scss/base.scss"; 

.popup {
    font-size: 15px;
    padding: 25px;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2); 
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    

    &_orange {
        width: 370px;
        background-color: $orange;
        color: #fff;
        @include small-phones {
            max-width: 300px;
            width: 90vw;
        }
    }

    &_edit {
        background-color: $blue;
        width: 80vw;
        @include tablets {
            width: 90vw;
        }
        
    }
}