@import "src/scss/base.scss"; 


.dropdown {
    min-width: 220px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    text-align: right;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2); 
    @include small-phones {
        min-width: 250px;
        font-size: 17px;
    }
}

.profile__dropdown {
    // change "top" and "right" values depending on size of control element for arrow to be positioned correctly
    top: 44px;
    right: -14px;
}

.dropdown__arrow {
    width: 20px;
    height: 20px;
    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    right: 25px;
    top: -15px;
}

.dropdown__title {

    font-weight: 500;
    padding: 7px 5px;
}

.dropdown__menu-list {

}


.dropdown__extras {
    padding: 7px 5px; 
}