@import "src/scss/base.scss"; 


.title {
    font-size: 32px;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

    
}

.description {
    font-size: 17px;
}

.edit-card-btns {
    display: inline-block;
}