@import "src/scss/base.scss"; 



.small-btn {
    color: rgba(#000, 0.4);
    font-size: 13px;
    transition: 300ms;
    &:hover {
        color: $blue;
    }
    &_edit {
        margin-left: 5px;
    }
}
