@import "src/scss/base.scss"; 



.overlay {
    // width: 100%;
    // min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 110;
    background-color: rgba(#fff, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.admin-panel__popup {
    background-color: $blue;

    width: 80vw;
    max-width: 1200px;
    @include tablets {
        width: 90vw;
    }


    font-size: 15px;
    padding: 25px;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2); 
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    
}


.admin__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    overflow: auto;
    @include small-phones {
        
    }

}


.admin__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}



.admin__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &_vertical {

    }
}

.admin__nowrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.admin__block {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-bottom: 15px;
    
    

    &_wide {
        width: 50%;

        @include phones {
            width: 100%;
        }
        @include small-phones {
            flex-direction: column;
    
        }
    }

    &_narrow {
        width: 25%;
        @include tablets {
            width: 33%;
        }
        @include phones {
            width: 50%;
        }
        @include small-phones {
            width: 100%;
        }
    }

    &_extrawide {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    
}




.admin__input {
    flex: 0 0 auto;
    background-color: $light-gray;
    height: 30px;
    padding: 5px;
    margin-right: 10px;

    &_wide {
        width: 40%;
    
        @include tablets {
            width: 50%;
        }
    
        @include small-phones {
            width: 100%;
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
    
    
    &_narrow {
        width: 40%;
        @include tablets {
            width: 50%;
        }
        @include phones {
            width: 40%;
        }
        @include small-phones {
            width: 50%;
        }
    }

    &_extrawide {
        width: 100%;
    }
}

.admin__select {
    flex: 0 0 auto;
    width: 40%;
    background-color: $light-gray;
    // border-radius: 7px;
    height: 30px;
    padding: 5px;

    margin-right: 10px;
    outline: none;
    border: 0;
    &:focus {
        outline: none;
    }

    @include tablets {
        width: 50%;
    }

    @include small-phones {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }


.admin__textarea {
    width: 100%;
}


}

.admin__desc {
    color: #fff;
    margin-right: 15px;
    &_up {
        margin-bottom: 5px;
    }


}

.admin__add-input {
    display: flex;
        align-items: center;
        color: #fff;
        & i {
            margin-right: 10px;
        }
        & span {
            font-weight: 500;
            text-align: left;
            font-style: italic;
            &:hover {
                text-decoration: underline;
            }
        }
    
}
