@import "src/scss/base.scss"; 

.admin-panel__delete-entity {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.admin-panel__message {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    & i {
        margin-right: 10px;
    }
}

.admin-panel__delete-btns {
    & button {
        &:first-child {
            font-weight: 500;
        }
    }
}