@import "src/scss/base.scss"; 

.socials__link {
    font-size: 20px;
    color: $dark-gray;
    transition: 300ms;
    &:hover {
        color: $orange;
    }

    margin-left: 20px;

    @include tablets {
        &:first-child {
            margin-left: 0px;
        }
    }
}