@import "src/scss/base.scss"; 

.table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    table-layout: fixed; 
    min-width: 700px;
    font-size: 16px;
    overflow: auto;

}

.table-wrapper {
    overflow: auto;
}

