@import "src/scss/base.scss"; 

.vehicle-photo {
    height: 200px;
    width: 300px;
    background-size: auto;
    margin-top: 20px;

    
    & div {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.VolvoFMX {
    background-image: url("./VolvoFMX.jpg");
}

.FordTransit {
    background-image: url("./FordTransit.jpg");
}

.YUTONG {
    background-image: url("./YUTONG.jpg");
}

.defaultVehicle {
    background-image: url("./default.jpg");
}