@import "src/scss/base.scss"; 


.dropdown__menu-item {
    padding: 7px 5px;
    &:hover {
        background-color: $light-gray;
        font-weight: 500;
    }
    & a {
        color: #000;
        text-decoration: none;
    }
    @include tablets {
        font-weight: 500;
    }
}
