@import "src/scss/base.scss"; 

.header {
    width: 100%;
    height: 60px;
    background-color: $orange;
    z-index: 10;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2);

    // &_main {
    //     position: fixed;
    // }
 
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.header__menu-wrapper {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    @include tablets {
        flex-direction: initial;
        align-items: center;
    }
}

.warning {
    margin-top: 30px;
}