@import "src/scss/base.scss"; 

.hamburger {
    display: none;
    position: relative;
    z-index: 100;
    @include tablets {
        display: flex;
        margin-left: 20px;
        height: 100%;
    }
    @include small-phones {
        margin-left: 5px;
    }
}