@import "src/scss/base.scss"; 

.footer__content {

    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablets {
        flex-direction: column;
    }

}