@import "src/scss/base.scss"; 



.overlay {
    // width: 100%;
    // min-height: 100%;
    position: absolute;
    // top: 0px;
    // left: 0px;
    // right: 0px;
    // bottom: 0px;
    z-index: 110;
    background-color: rgba(#000, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}