@import "./base.scss";

html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.42;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include phones {
      font-size: 15px;
    }
    @include small-phones {
        font-size: 14px;
    }
}

body {
  position: relative;
}



// common components

.section {
    padding: 10px 0;
}

button {
    cursor: pointer;
}