    //resolutions
    $tablets: 925px;
    $phones: 700px;
    $small-phones: 500px;
    @import "./media.scss";
    
    //colors
    $orange: #CD7233;
    $dark-gray: #6D6E70;
    $light-gray: #e5e5e5;
    $blue: #008799;


