// tag style reset

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

* {
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
    cursor: pointer;
}

input {
    border: none;
    &:focus {
        outline: none;
    }
}

