@import "src/scss/base.scss"; 


.validation-dropdown {
    width: 180px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    top: 30px;
    left: 100px;
    background-color: white;
    text-align: left;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2); 
    @include small-phones {
        // min-width: 250px;
        // font-size: 17px;
    }
}


.validation-dropdown__arrow {
    width: 20px;
    height: 20px;
    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    left: 25px;
    top: -15px;
}
