@import "src/scss/base.scss"; 

.header__language-list {
    display: flex;

}

.header__language-item {
    &:first-child {
        
        &:after {
            content: "/";
            color: #fff;
            margin-right: 5px;
            
        }
    }
    &:last-child {
        font-weight: 700;
    }
}


.header__language-link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;

}