@import "src/scss/base.scss"; 


.wrapper-witn-map {
    // background-image: url("./ya-map.png"); //не работает абс путь((
    // background-size: cover;
    
    height: calc(100vh - 60px);
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: flex-end;

    // @include phones {
    //     background-position-x: 30%;
    // }

    // @include small-phones {
    //     background-position-x: 50%;
    // }
}