@import "src/scss/base.scss"; 

.logo {
    font-family: "Damion";
    text-decoration: none;
 
}

.header__logo {
    font-size: 42px;
    color: #fff;
    @include small-phones {
        font-size: 38px;
    }
}