@import "src/scss/base.scss"; 

.button {
    flex-grow: 0;
    border: 1px solid #fff;
    // border-radius: 7px;
    background-blend-mode: darken;
    color: #fff;
    min-height: 30px;
    min-width: 100px;
    padding: 2px 10px 3px 10px;
    margin: 12px;
    text-align: center;
    outline: none;
    transition: 0.3s;
    &:hover {
        background-color: $dark-gray;

    }
}