@import "src/scss/base.scss"; 


.text-input {
    flex: 0, 0;
    width: 250px;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    margin: 4px;
    text-align: center;
    transition: 0.3s;
    &_table {
        border-radius: 3px;
        height: 25px;
        padding: 3px;
        margin: 0px;
        
        text-align: left;
        font-size: 15px;
        width: 85%;
        @include phones {
            font-size: 14px;
        }
    }
}